﻿
@font-face {
    font-family: mj;
    src: url('../fonts/Mj flow.ttf');
}

@font-face {
    font-family: 'Kokab';
    src: url('../fonts/Kokab.ttf') format('truetype');
}

@font-face {
    font-family: 'Aban';
    src: url('../fonts/Aban.ttf') format('truetype');
}

@font-face {
    font-family: 'nasim';
    src: url('../fonts/nasim.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: Tahoma;
    direction: rtl;
}

#header {
    height: 100px;
    background: linear-gradient(#ccc, #fff);
}

#content {
    background: url('../images/01 bg.png') repeat-x;
    border: 1px solid transparent;
    overflow: hidden;
}

    #content > .address {
        margin: 10px auto;
        width: 1000px;
        font-size: 13px;
    }

        #content > .address > a {
            padding: 30px 5px 5px;
            color: #333;
            text-decoration: none;
            color: darkblue;
            font-weight: 500;
        }

            #content > .address > a:hover {
                color: darkorange;
                border-bottom: 2px solid red;
            }

    #content > .grid {
        width: 1000px;
        margin: auto;
    }

        #content > .grid > .pager {
            height: 40px;
        }

            #content > .grid > .pager > #pager {
                margin: 0;
                padding: 0;
                list-style: none;
                text-align: center;
                height: 100%;
            }

                #content > .grid > .pager > #pager > li {
                    position: relative;
                    transition: .3s;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    background: #fff;
                    line-height: 40px;
                    border-radius: 50%;
                    margin-left: -40px;
                    z-index: 1;
                    cursor: pointer;
                    animation: position 1s .3s forwards,shadow 1.3s forwards;
                    box-shadow: 0 1px 2px 1px #333;
                }

                    #content > .grid > .pager > #pager > li:not(.select):hover {
                        z-index: 3;
                        border-bottom: 2px solid red;
                        background: #eee;
                        transform: scale(1.1);
                    }

                    #content > .grid > .pager > #pager > li.right,
                    #content > .grid > .pager > #pager > li.left {
                        background: orange;
                        z-index: 0;
                    }

                        #content > .grid > .pager > #pager > li.left:hover {
                            transform: translate(-10px);
                            background: orange;
                        }

                        #content > .grid > .pager > #pager > li.right:hover {
                            transform: translate(10px);
                            background: orange;
                        }

                    #content > .grid > .pager > #pager > li.select {
                        background: #ff3f3f;
                        z-index: 0;
                        color: #fff;
                        z-index: 2;
                    }

        #content > .grid > .set {
            margin-bottom: 100px;
        }

            #content > .grid > .set > #viewstyle {
                padding: 0;
                list-style: none;
            }

                #content > .grid > .set > #viewstyle > li {
                    transition: .1s;
                    margin-right: 5px;
                    float: right;
                    cursor: pointer;
                }

                    #content > .grid > .set > #viewstyle > li.sel {
                        background-color: palevioletred;
                    }

                    #content > .grid > .set > #viewstyle > li:not(.sel):hover {
                        transform: scale(1.1);
                        background-color: orange;
                    }

                    #content > .grid > .set > #viewstyle > li:nth-child(1) {
                        width: 30px;
                        height: 30px;
                        background-image: url('../images/01.png');
                        background-position: 8px 8px;
                        background-repeat: no-repeat;
                        background-size: 50% 50%;
                    }

                    #content > .grid > .set > #viewstyle > li:nth-child(2) {
                        width: 30px;
                        height: 30px;
                        background-image: url('../images/02.png');
                        background-position: 8px 8px;
                        background-repeat: no-repeat;
                        background-size: 50% 50%;
                    }

                    #content > .grid > .set > #viewstyle > li:nth-child(3) {
                        width: 30px;
                        height: 30px;
                        background-image: url('../images/03.png');
                        background-position: 8px 8px;
                        background-repeat: no-repeat;
                        background-size: 50% 50%;
                    }

            #content > .grid > .set > select {
                float: left;
                padding: 5px;
                text-align: center;
            }

        #content > .grid > #view {
            width: 1000px;
        }

            #content > .grid > #view.g1 > .items {
                position: relative;
                width: 200px;
                height: 300px;
                transform-style: preserve-3d;
                transform: perspective(2000px);
                transition: 1s;
                box-shadow: inset 300px 0 50px black, 0 0 10px 1px #999;
                cursor: pointer;
                margin: 25px 25px;
                float: right;
                opacity: 1;
                animation: show 1s;
            }

                #content > .grid > #view.g1 > .items:nth-child(4n+1) {
                    z-index: 100;
                }

                #content > .grid > #view.g1 > .items:nth-child(4n+2) {
                    z-index: 90;
                }

                #content > .grid > #view.g1 > .items:nth-child(4n+3) {
                    z-index: 80;
                }

                #content > .grid > #view.g1 > .items:nth-child(4n+4) {
                    z-index: 70;
                }

                #content > .grid > #view.g1 > .items:hover {
                    transform: perspective(2000px);
                    box-shadow: inset 20px 0 50px #333;
                }

                #content > .grid > #view.g1 > .items > img {
                    transition: 1s;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transform-origin: left;
                    z-index: 1;
                    box-shadow: inset 300px 0 50px #333;
                    transform-style: preserve-3d;
                    border: 1px solid #000;
                    box-sizing: border-box;
                }

                #content > .grid > #view.g1 > .items:hover > img {
                    transform: rotateY(-140deg);
                    transition: 1s;
                }

                #content > .grid > #view.g1 > .items > .info {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255,255,255,.5);
                    z-index: -1;
                    box-sizing: border-box;
                    padding: 40px 10px;
                    overflow: hidden;
                }

                    #content > .grid > #view.g1 > .items > .info > .banner {
                        width: 120px;
                        height: 50px;
                        background: #ed4d4d;
                        position: absolute;
                        transform: rotateZ(45deg);
                        right: -40px;
                        top: -10px;
                        color: #fff;
                        text-align: center;
                        text-indent: -7px;
                        line-height: 75px;
                        font-size: 13px;
                    }

                    #content > .grid > #view.g1 > .items > .info > .h4 {
                        display: block;
                        width: 45%;
                        float: right;
                        height: 30px;
                        line-height: 30px;
                        color: darkblue;
                        margin-bottom: 10px;
                        font-size: 13px;
                        text-align: center;
                    }

                    #content > .grid > #view.g1 > .items > .info > span {
                        display: block;
                        width: 53%;
                        float: left;
                        height: 30px;
                        line-height: 30px;
                        margin-bottom: 10px;
                        font-size: 13px;
                    }

                    #content > .grid > #view.g1 > .items > .info > .name {
                        display: inline-block;
                        width: 100%;
                        color: #333;
                        font-size: 20px;
                        font-weight: bold;
                        font-family: Kokab;
                        text-align: center;
                    }

                    #content > .grid > #view.g1 > .items > .info > .like {
                        width: 50%;
                        height: 40px;
                        float: left;
                        font-size: 25px;
                        color: green;
                        line-height: 40px;
                        text-align: center;
                        margin-top: 10px;
                    }

                    #content > .grid > #view.g1 > .items > .info > .dis {
                        width: 50%;
                        height: 40px;
                        float: right;
                        font-size: 25px;
                        color: red;
                        line-height: 40px;
                        text-align: center;
                        margin-top: 10px;
                    }

            #content > .grid > #view.g1 > .items > .short {
                display:none;
            }

            /*  g2  */

            #content > .grid > #view.g2 > .items {
                position: relative;
                width: 450px;
                height: 250px;
                box-sizing: border-box;
                transform-style: preserve-3d;
                transform: perspective(2000px);
                transition: 1s;
                box-shadow: 0 0 10px 1px #999;
                cursor: pointer;
                margin: 25px 25px;
                float: right;
                opacity: 1;
                animation: show 1s;
            }

                #content > .grid > #view.g2 > .items:hover {
                    transform: perspective(2000px);
                }

                #content > .grid > #view.g2 > .items > img {
                    transition: 1s;
                    position: absolute;
                    width: 40%;
                    height: 100%;
                    transform-origin: left;
                    z-index: 1;
                    transform-style: preserve-3d;
                    border: 1px solid #000;
                    box-sizing: border-box;
                }

            #content > .grid > #view.g1 > .items:hover > img {
                transform: rotateY(-140deg);
                transition: 1s;
            }

            #content > .grid > #view.g2 > .items > .info {
                position: absolute;
                left: 0;
                width: 60%;
                height: 100%;
                background-color: rgba(255,255,255,.9);
                z-index: -1;
                box-sizing: border-box;
                padding: 40px 10px;
                overflow: hidden;
            }

                #content > .grid > #view.g2 > .items > .info > .banner {
                    width: 120px;
                    height: 50px;
                    background: #ed4d4d;
                    position: absolute;
                    transform: rotateZ(45deg);
                    right: -40px;
                    top: -10px;
                    color: #fff;
                    text-align: center;
                    text-indent: -7px;
                    line-height: 75px;
                    font-size: 13px;
                }

                #content > .grid > #view.g2 > .items > .info > .h4 {
                    display: block;
                    width: 45%;
                    float: right;
                    height: 30px;
                    line-height: 30px;
                    color: darkblue;
                    margin-bottom: 10px;
                    font-size: 13px;
                    text-align: center;
                }

                #content > .grid > #view.g2 > .items > .info > span {
                    display: block;
                    width: 53%;
                    float: left;
                    height: 30px;
                    line-height: 30px;
                    margin-bottom: 10px;
                    font-size: 13px;
                }

                #content > .grid > #view.g2 > .items > .info > .name {
                    display: inline-block;
                    width: 100%;
                    color: #333;
                    font-size: 20px;
                    font-weight: bold;
                    font-family: Kokab;
                    text-align: center;
                }

                #content > .grid > #view.g2 > .items > .info > .like {
                    width: 50%;
                    height: 40px;
                    float: left;
                    font-size: 25px;
                    color: green;
                    line-height: 40px;
                    text-align: center;
                }

                #content > .grid > #view.g2 > .items > .info > .dis {
                    width: 50%;
                    height: 40px;
                    float: right;
                    font-size: 25px;
                    color: red;
                    line-height: 40px;
                    text-align: center;
                }

            #content > .grid > #view.g2 > .items > .short {
                display:none;
            }

                /*  g3  */

            #content > .grid > #view.g3 > .items {
                position: relative;
                width: 1000px;
                height: 400px;
                box-sizing: border-box;
                transform-style: preserve-3d;
                transform: perspective(2000px);
                transition: 1s;
                box-shadow: inset 1200px 0 100px black, 0 0 10px 1px #999;
                cursor: pointer;
                margin: 25px auto;
                float: right;
                opacity: 1;
                animation: show 1s;
            }

                #content > .grid > #view.g3 > .items:hover {
                    transform: perspective(2000px);
                    box-shadow: inset 750px 0 50px #333;
                }

                #content > .grid > #view.g3 > .items > img {
                    transition: 1s;
                    position: absolute;
                    width: 27%;
                    height: 100%;
                    transform-origin: left;
                    z-index: 1;
                    transform-style: preserve-3d;
                    border: 1px solid #000;
                    box-sizing: border-box;
                }

            #content > .grid > #view.g3 > .items:hover > img {
                transform: rotateY(-140deg);
                transition: 1s;
            }

            #content > .grid > #view.g3 > .items > .info {
                position: absolute;
                right: 0;
                width: 27%;
                height: 100%;
                background-color: rgba(255,255,255,.5);
                z-index: -1;
                box-sizing: border-box;
                padding: 40px 10px;
                overflow: hidden;
            }

                #content > .grid > #view.g3 > .items > .info > .banner {
                    width: 120px;
                    height: 50px;
                    background: #ed4d4d;
                    position: absolute;
                    transform: rotateZ(45deg);
                    right: -40px;
                    top: -10px;
                    color: #fff;
                    text-align: center;
                    text-indent: -7px;
                    line-height: 75px;
                    font-size: 13px;
                }

                #content > .grid > #view.g3 > .items > .info > .h4 {
                    display: block;
                    width: 45%;
                    float: right;
                    height: 30px;
                    line-height: 30px;
                    color: darkblue;
                    margin-bottom: 30px;
                    font-size: 17px;
                    text-align: center;
                }

                #content > .grid > #view.g3 > .items > .info > span {
                    display: block;
                    width: 53%;
                    float: left;
                    height: 30px;
                    line-height: 30px;
                    margin-bottom: 30px;
                    font-size: 17px;
                }

                #content > .grid > #view.g3 > .items > .info > .name {
                    display: inline-block;
                    width: 100%;
                    color: #333;
                    font-size: 25px;
                    font-weight: bold;
                    font-family: Kokab;
                    text-align: center;
                    margin-bottom:30px;
                }

                #content > .grid > #view.g3 > .items > .info > .like {
                    width: 50%;
                    height: 40px;
                    float: left;
                    font-size: 25px;
                    color: green;
                    line-height: 40px;
                    text-align: center;
                }

                #content > .grid > #view.g3 > .items > .info > .dis {
                    width: 50%;
                    height: 40px;
                    float: right;
                    font-size: 25px;
                    color: red;
                    line-height: 40px;
                    text-align: center;
                }

                #content > .grid > #view.g3 > .items > .short{
                    position:absolute;
                    left:0;
                    background:#ffdfdf;
                    width:73%;
                    height:100%;
                    direction:ltr;
                    box-sizing:border-box;
                    padding:30px;
                }
/*animations*/
@keyframes position {
    0% {
        margin-left: -40px;
        box-shadow: 0px 0px 0px 0px #333;
    }

    100% {
        margin-left: 1px;
        box-shadow: 0px 1px 2px 1px #333;
    }
}

@keyframes shadow {

    0% {
        box-shadow: 0px 0px 0px 0px #333;
    }

    100% {
        box-shadow: 0px 1px 2px 1px #333;
    }
}

@keyframes show {

    0% {
        opacity: 0;
        transform: perspective(2000px) scale(1.2);
    }

    100% {
        opacity: 1;
        transform: perspective(2000px) scale(1);
    }
}
